//colors
$primary-white: #ebebe3;
$primary-black: #150b0a;
$apple-green: #b0b436;
$black-bean: #340000;
$rose-red: #b91c4f;

//font-size
$body-font-size: 1rem;
$tablet-body-font-size: 1.125rem;
$h1-font-size: 3rem;
$tablet-h1-font-size: 3.5rem;
$desktop-h1-font-size: 4rem;
$h2-font-size: 2rem;
$tablet-h2-font-size: 2.5rem;
$desktop-h2-font-size: 3rem;
$h3-font-size: 1.25rem;
$tablet-h3-font-size: 1.5rem;

//line height
$body-line-height: 1.5rem;
$tablet-body-line-height: 1.6875rem;
$h1-line-height: 4.5rem;
$tablet-h1-line-height: 5.25rem;
$desktop-h1-line-height: 6rem;
$h2-line-height: 2.625rem;
$tablet-h2-line-height: 3.75rem;
$desktop-h2-line-height: 4.5rem;
$h3-line-height: 1.875rem;
$tablet-h3-line-height: 2.25rem;

//screen sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//padding
$padding: 1rem;
$tablet-padding: 3rem;
$desktop-padding: 4rem;

//border radius
$borderRadius: 0.25rem;
$tablet-borderRadius: 1.125rem;
$desktop-borderRadius: 1.25rem;
