@font-face {
	font-family: "Barriecito";
	src: url("/fonts/Barriecito/Barriecito_Regular.ttf") format("ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("/fonts/Nunito_Sans/NunitoSans_Regular.ttf") format("ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("/fonts/Nunito_Sans/NunitoSans_Regular-Italic.ttf") format("ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("/fonts/Nunito_Sans/NunitoSans_SemiBold.ttf") format("ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("/fonts/Nunito_Sans/NunitoSans_SemiBold-Italic.ttf") format("ttf");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("/fonts/Nunito_Sans/NunitoSans_Bold.ttf") format("ttf");
	font-weight: 800;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("/fonts/Nunito_Sans/NunitoSans_Bold-Italic.ttf") format("ttf");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/SourceSerif4_Regular.ttf") format("ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/SourceSerif4_Regular-Italic.ttf")
		format("ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/SourceSerif4_SemiBold.ttf") format("ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/SourceSerif4_SemiBold-Italic.ttf")
		format("ttf");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/SourceSerif4_Bold.ttf") format("ttf");
	font-weight: 800;
}

@font-face {
	font-family: "Source Serif 4";
	src: url("/fonts/Source_Serif_4/SourceSerif4_Bold-Italic.ttf") format("ttf");
	font-weight: 800;
	font-style: italic;
}
