@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
	display: flex;
	flex-direction: column;
	gap: 4.5rem;

	@include tablet {
		gap: 6rem;
	}

	@include desktop {
		gap: 8rem;
	}
}

.about {
	padding: 2rem $padding;
	height: calc(100vh - 4.4375rem);
	min-height: 35.625rem;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	@include tablet {
		padding: 3rem 12%;
		height: calc(100vh - 4.6875rem);
		min-height: 30rem;
		flex-direction: row;
		justify-content: space-around;
		gap: 2.5rem;
	}

	@include desktop {
		padding: 4rem 12%;
		height: calc(100vh - 5.5rem);
		gap: 3rem;
	}

	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@include tablet {
			gap: 2.25rem;
			flex: 1;
			max-width: 31.5625rem;
		}
	}

	&__message {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include tablet {
			align-items: flex-start;
			gap: 1rem;
		}
	}

	&__title {
		text-transform: capitalize;
		display: flex;
		align-items: baseline;
		gap: 0.25rem;
		font-weight: 500;
		font-size: 3.5rem;
		line-height: 5.25rem;

		@include tablet {
			gap: 0.5rem;
			font-size: 4.5rem;
			line-height: 6.75rem;
		}

		@include desktop {
			font-size: 6rem;
			line-height: 9rem;
		}

		span {
			font-family: inherit;
		}

		img {
			width: 1.5625rem;

			@include tablet {
				width: 1.9375rem;
			}

			@include desktop {
				width: 2.875rem;
			}

			@include dark {
				filter: invert(1);
			}
		}
	}

	&__description {
		padding: 0 0.5rem;
		max-width: 22.25rem;
		text-align: center;
		font-size: 1.125rem;
		line-height: 1.75rem;

		@include tablet {
			padding: 0;
			max-width: 31.5625rem;
			font-size: 1.25rem;
			line-height: 2.5rem;
			text-align: left;
			margin-top: -1rem;
		}

		@include desktop {
			font-size: 1.5rem;
			line-height: 3rem;
		}

		.italic {
			display: inline-block;
			font-style: italic;
			text-transform: capitalize;
			color: $rose-red;
		}
	}

	&__button {
		align-self: center;

		@include tablet {
			align-self: flex-start;
		}
	}

	&__image {
		flex: 1;
		object-fit: contain;
		height: 3rem;
		width: auto;

		@include tablet {
			height: auto;
			width: 100%;
			max-height: 100%;
		}
	}
}

.skills {
	margin-top: -2rem;

	@include tablet {
		margin-top: 0rem;
		display: flex;
	}

	&__heading {
		font-weight: 500;
		text-transform: uppercase;
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-bottom: 0.5rem;
		padding: 0 $padding;

		@include tablet {
			margin-bottom: 0;
			padding: $padding $padding $padding 3rem;
			background-color: $black-bean;
			color: $primary-white;
			font-size: 1.5rem;
			line-height: 2.25rem;
			border-right: 2px solid $primary-white;
			width: 14.375rem;
			flex-shrink: 0;
		}

		@include desktop {
			padding: 2.5rem 1.5rem 2.5rem $desktop-padding;
			width: max-content;
		}
	}

	&__list {
		//"  group-hover:motion-safe:[animation-play-state:paused]"
		display: flex;
		gap: 1rem;
		width: max-content;

		@include tablet {
			padding-left: $padding;
		}

		@include desktop {
			padding-left: 1.5rem;
		}

		@include motion-safe {
			animation: marquee 30s linear infinite;
		}

		@keyframes marquee {
			from {
				transform: translateX(0%);
			}
			to {
				transform: translateX(-50%);
			}
		}
	}

	&-container {
		padding: 1.5rem 0;
		background-color: $black-bean;
		overflow: hidden;

		&:hover {
			.skills__list {
				@include motion-safe {
					animation-play-state: paused;
				}
			}
		}

		@include tablet {
			padding: 0;
			display: flex;
			align-items: center;
		}
	}
}

.projects {
	padding: 0 $padding;
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@include tablet {
		padding: 0 $tablet-padding;
		gap: 4.5rem;
	}

	@include desktop {
		padding: 0 $desktop-padding;
		gap: 5rem;
	}

	&__header {
		padding-bottom: 0.75rem;
		border-bottom: 2px dashed $primary-black;

		@include tablet {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@include dark {
			border-color: $primary-white;
		}
	}

	&__title {
		text-transform: capitalize;
		text-align: center;

		@include tablet {
			text-align: left;
		}
	}

	.button {
		&--tablet {
			display: none;

			@include tablet {
				display: flex;
			}
		}

		&--mobile {
			align-self: center;
			margin: 1.5rem 0;

			@include tablet {
				display: none;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 6rem;

		@include tablet {
			flex-direction: row;
			gap: 0;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	&__link {
		border: 1px solid $primary-black;
		border-radius: $tablet-borderRadius;
		width: 75vw;
		max-width: 25rem;
		aspect-ratio: 1 / 1;
		text-align: center;
		display: flex;
		flex-direction: column-reverse;
		height: 100%;

		@include dark {
			background-color: $primary-white;
			color: $primary-black;
		}

		@include tablet {
			width: 28vw;
		}
	}

	&__image {
		flex: 1;
		border-radius: $tablet-borderRadius $tablet-borderRadius 0 0;
	}

	&__name {
		padding: 0.75rem 0;
		border-top: 1px solid $primary-black;
		flex-shrink: 0;

		@include tablet {
			padding: 1rem 0;
		}
	}

	&__tools {
		display: flex;
		gap: 1rem;

		img {
			width: 1.25rem;

			@include tablet {
				width: 1.5rem;
			}
		}
	}

	.divider {
		border-bottom: 2px dashed $primary-black;

		@include dark {
			border-color: $primary-white;
		}
	}
}

.contact {
	padding: 0 $padding;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	margin-bottom: 5rem;

	@include tablet {
		padding: 0 $tablet-padding;
		margin-bottom: 7rem;
	}

	@include desktop {
		padding: 0 $desktop-padding;
		margin-bottom: 10rem;
	}

	&__heading {
		text-align: center;
		max-width: 32.5rem;

		@include tablet {
			max-width: 44rem;
		}

		@include desktop {
			max-width: 56.25rem;
		}

		span {
			display: inline-block;
			font-family: inherit;
		}
	}

	&__message {
		text-align: center;
		line-height: 1.875rem;
		width: 80vw;
		max-width: 30.75rem;

		@include tablet {
			line-height: 2.25rem;
			width: 75vw;
			max-width: 36.25rem;
		}

		@include desktop {
			max-width: 50rem;
		}
	}

	&__button {
		margin-top: 0.5rem;

		@include tablet {
			margin-top: 1rem;
		}
	}
}
